<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazaarly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/produto.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"></head>
<body>
    <header>
        <div class="logo">
            <h1>BAZAARLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos">
            <button><i class="bi bi-search"></i></button>
        </div>
        <div class="header-icons">
            <i class="bi bi-person"></i>
            <i class="bi bi-cart"></i>
            <i class="bi bi-heart"></i>
            <i class="bi bi-headset"></i>
            <span class="material-symbols-outlined">logout</span>
        </div>
    </header>
    
    

    <nav>
        <ul>
            <a href="/mobilias" style="text-decoration: none; color: white;"><li>Mobílias</li></a>
            <a href="/joias" style="text-decoration: none; color: white;"><li>Joias e Acessórios</li></a>
            <a href="/sapato" style="text-decoration: none; color: white;"><li>Sapatos</li></a>
            <a href="/baby" style="text-decoration: none; color: white;"><li>Roupas de Bebê</li></a>
            <a href="/roupaFem" style="text-decoration: none; color: white;"><li>Roupas Femininas</li></a>
            <a href="/roupaMasc" style="text-decoration: none; color: white;"><li>Roupas Masculinas</li></a>
            <a href="/esportes" style="text-decoration: none; color: white;"><li>Esportes</li></a>
            <a href="/house" style="text-decoration: none; color: white;"><li>Itens de Casa</li></a>
            <a href="/tecnologia" style="text-decoration: none; color: white;"><li>Tecnologia e Eletrônicos</li></a>
            <a href="/livros" style="text-decoration: none; color: white;"><li>Livros</li></a>
        </ul>
    </nav>

    <main>
        <section class="search-results">
            <p><strong><i class="bi bi-house-door"></i>> MOBILIAS</strong></p>
            <h2>VOCÊ BUSCOU POR "MOBILIAS"</h2>
            <p>Foram encontrados 5 resultados</p>
    
            <div class="product-grid">
                <div class="product-card">
                    <img src="" alt="Mobilia 1">
                    <p>MOBILIA 1</p>
                    <p><strong>R$ 54,90</strong></p>
                    <p>ENVIO NACIONAL</p>
                </div>
    
                <div class="product-card">
                    <img src="" alt="Mobilia 2">
                    <p>MOBILIA 2</p>
                    <p><strong>R$ 19,25</strong></p>
                    <p>ENVIO NACIONAL</p>
                </div>
    
                <div class="product-card">
                    <img src="" alt="Mobilia 3">
                    <p>MOBILIA 3</p>
                    <p><strong>R$ 19,25</strong></p>
                    <p>ENVIO NACIONAL</p>
                </div>
    
                <div class="product-card">
                    <img src="" alt="Mobilia 4">
                    <p>MOBILIA 4</p>
                    <p><strong>R$ 19,25</strong></p>
                    <p>ENVIO NACIONAL</p>
                </div>
    
                <div class="product-card">
                    <img src="" alt="Mobilia 5">
                    <p>MOBILIA 5</p>
                    <p><strong>R$ 19,25</strong></p>
                    <p>ENVIO NACIONAL</p>
                </div>
            </div>
        </section>
    </main>
    

    <footer>
        <div class="footer-section">
            <h3>DÚVIDAS</h3>
            <ul>
                <li>Acompanhe seus pedidos</li>
                <li>Dúvidas frequentes</li>
                <li>Trocas e devoluções</li>
            </ul>
            <i class="fa-brands fa-cc-visa payment-icon"></i>
            <i class="fa-brands fa-cc-mastercard payment-icon"></i>
        </div>
        
    
        <div class="footer-section">
            <h3>INSTITUCIONAL</h3>
            <ul>
                <li>Quem somos?</li>
                <li>Política de Privacidade</li>
                <li>Trabalhe conosco</li>
            </ul>
        </div>
    
        <div class="footer-section">
            <h3>FALE CONOSCO</h3>
            <p><i class="fas fa-phone"></i> (82) 91234-5678</p> <br>
            <p><i class="fas fa-envelope"></i> bazaarly@loja.com.br</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>